<?xml version="1.0" encoding="UTF-8"?>

<web-app
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0">

  <display-name>chapstudtytransaction</display-name>
         
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>

  
  <!-- ====================== -->
  <!-- 공통 JSP 설정          -->
  <!-- ====================== -->
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <include-prelude>/WEB-INF/views/include.jsp</include-prelude>
      <trim-directive-whitespaces>true</trim-directive-whitespaces>
      <default-content-type>text/html; charset=utf8</default-content-type>
    </jsp-property-group>
  </jsp-config>


  <!-- =============================== -->
  <!-- Web Application 예외처리방법#1  -->
  <!-- =============================== -->
  <error-page>
      <error-code>500</error-code>
      <location>/WEB-INF/views/errors/500.jsp</location>
  </error-page>

  <error-page>
      <error-code>404</error-code>
      <location>/WEB-INF/views/errors/404.jsp</location>
  </error-page>


  <!-- =============================== -->
  <!-- Web Application 예외처리방법#2  -->
  <!-- =============================== -->
  <error-page>
      <exception-type>java.lang.NullPointerException</exception-type>
      <location>/WEB-INF/views/errors/null.jsp</location>
  </error-page>


  <!-- =============================== -->
  <!-- Http Session 만료시간설정(in minutes) -->
  <!-- =============================== -->
  <session-config>
      <session-timeout>30</session-timeout>
  </session-config>

  <!-- =============================== -->
  <!-- 아래는 Spring Project 생성시 자동 생성되는 부분 -->
  <!-- =============================== -->
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/spring/root-context.xml</param-value>
  </context-param>

  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- =============================== -->
  <!-- 프런트 컨트롤러 역할을 하는 Servlet : DispatcherServlet -->
  <!-- =============================== -->

  <servlet>
    <servlet-name>appServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

    <!-- servlet-context.xml는 웹과 관련이 없는 빈을 저장한다. -->

    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
    </init-param>
      
      <!-- 프런트 컨트롤러가 헨들러를 찾지 못하면 나오는 예외 -->
      <init-param>
         <param-name>throwExceptionIfNoHandlerFound</param-name>
         <param-value>true</param-value>
      </init-param>
    
    <!-- 요청을 받을시 로드되는 순서를 지정한다. -->
    <load-on-startup>1</load-on-startup>
  </servlet>

   <servlet-mapping>
     <servlet-name>appServlet</servlet-name>
     <url-pattern>/</url-pattern>
   </servlet-mapping>

  <!-- =============================== -->
  <!-- 자동생성되지 않는 부분 -->
  <!-- =============================== -->

   <filter>
      <filter-name>encodingFilter</filter-name>
      <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>

      <!-- 프론트 컨트롤러가 전송 파라미터를 깨지지 않고 잘 받을 수 있도록 설정 -->
      <init-param>
         <param-name>encoding</param-name>
         <param-value>utf8</param-value>
      </init-param>

      <init-param>
         <param-name>forceEncoding</param-name>
         <param-value>true</param-value>
      </init-param>
   </filter>

   <filter-mapping>
      <filter-name>encodingFilter</filter-name>
      <url-pattern>/*</url-pattern>
   </filter-mapping>


</web-app>